<!-- app.component.html -->
<main class="container">
  <header>
    <h1>Task Management Application</h1>
    <h3>{{ user.name }}</h3>
    <h6>{{ user.email }}</h6>
    <nav>
      <!-- <a routerLink="/tasks">Tasks</a>
      <a routerLink="/profile">Profile</a> -->
    </nav>
  </header>
  <app-task-list
    [tasks]="taskList"
    [backlogTasksList]="backlogTasks"
    [progressTasksList]="progressTasks"
    [testingTasksList]="testingTasks"
    [reviewTasksList]="reviewTasks"
    [completeTasksList]="completeTasks"
    (taskSelected)="onTaskSelected($event)"
  ></app-task-list>
  <span class="add-button">
    <button id="add-button" (click)="showForm()">+ New Task</button>
  </span>
  <app-task-detail
    [taskSelected]="selectedTask"
    (close)="closeTaskDetailPopup()"
  >
  </app-task-detail>
  <div class="overlay" *ngIf="isFormVisible"></div>
  <app-task-form
    *ngIf="isFormVisible"
    (formSubmit)="addTask($event)"
    (cancelForm)="hideForm()"
  ></app-task-form>
  <!-- <router-outlet></router-outlet> -->
</main>
