<app-login
  (loggedInProfile)="login($event)"
  [UmsiziUsers]="userList"
  *ngIf="isNotAuthenticated"
></app-login>

<!-- app.component.html -->
<main class="container" *ngIf="isAuthenticated">
  <header>
    <h1><img src="../../assets/Umsizi-logo.png" alt="Umsizi logo" /><br /></h1>
    <span id="details">
      <h3>{{ user?.name }}</h3>
      <h6>{{ user?.email }}</h6>
    </span>
    <nav>
      <!-- <a routerLink="/tasks">Tasks</a>
      <a routerLink="/profile">Profile</a> -->
    </nav>
  </header>
  <span class="add-button">
    <button id="add-button" (click)="showForm()">+ New Task</button>
  </span>
  <br />
  <app-task-list
    [tasks]="taskList"
    [backlogTasksList]="backlogTasks"
    [progressTasksList]="progressTasks"
    [testingTasksList]="testingTasks"
    [reviewTasksList]="reviewTasks"
    [completeTasksList]="completeTasks"
    (taskSelected)="onTaskSelected($event)"
    (updateStage)="onStageChanged($event)"
  ></app-task-list>

  <app-task-detail
    [taskSelected]="selectedTask"
    (close)="closeTaskDetailPopup()"
  >
  </app-task-detail>
  <div class="overlay" *ngIf="isFormVisible"></div>
  <app-task-form
    *ngIf="isFormVisible"
    (formSubmit)="addTask($event)"
    (cancelForm)="hideForm()"
  ></app-task-form>
  <!-- <router-outlet></router-outlet> -->
</main>
