.columns {
  display: flex;
}

ul {
  margin: 1vh 1vw;
  border-radius: 10%;
}
ul li:hover {
  cursor: pointer;
}

.column {
  flex: 1;

  border: 1px solid black; 
  box-sizing: border-box; 
  text-align: center;
}

#Backlog {
  font-weight: bolder;
  font-size: xx-large;
  color: #007bff;
}
button {
  background-color: #ffffff; 
  color: #000000;
}
button:hover {
  background-color: #50555b;
  cursor: pointer;
}
