<!-- task-list.component.html -->
<article class="task-list">
  <h2>Task List</h2>
  <article class="columns">
    <span class="column"
      ><span id="Backlog"> Backlog</span>
      <ul>
        <li
          *ngFor="let task of backlogTasksList"
          [ngStyle]="{ 'background-color': getPriorityColor(task.priority) }"
          (click)="selectTask(task)"
        >
          {{ task.title }} - {{ task.deadline }}
          <br />
          <button>Move to in-progess</button>
          <button>Move to complete</button>
        </li>
      </ul>
    </span>
    <span class="column"
      ><span id="Backlog">In-progress</span>
      <ul>
        <li
          *ngFor="let task of progressTasksList"
          [ngStyle]="{ 'background-color': getPriorityColor(task.priority) }"
          (click)="selectTask(task)"
        >
          {{ task.title }} - {{ task.deadline }}
          <br />
          <button>Move to testing</button>
          <button>Move to complete</button>
          <button>Move to backlog</button>
        </li>
      </ul></span
    >
    <span class="column"
      ><span id="Backlog">Testing</span>
      <ul>
        <li
          *ngFor="let task of testingTasksList"
          [ngStyle]="{ 'background-color': getPriorityColor(task.priority) }"
          (click)="selectTask(task)"
        >
          {{ task.title }} - {{ task.deadline }}
          <br />
          <button>Move to in-progress</button>
          <button>Move to review</button>
          <button>Move to complete</button>
          <button>Move to backlog</button>
        </li>
      </ul></span
    >
    <span class="column"
      ><span id="Backlog">Review</span>
      <ul>
        <li
          *ngFor="let task of reviewTasksList"
          [ngStyle]="{ 'background-color': getPriorityColor(task.priority) }"
          (click)="selectTask(task)"
        >
          {{ task.title }} - {{ task.deadline }}
          <br />
          <button>Move to complete</button>
          <button>Move to backlog</button>
        </li>
      </ul>
    </span>
    <span class="column"
      ><span id="Backlog">Complete</span>
      <ul>
        <li
          *ngFor="let task of completeTasksList"
          [ngStyle]="{ 'background-color': getPriorityColor(task.priority) }"
          (click)="selectTask(task)"
        >
          {{ task.title }} - {{ task.deadline }}
          <br />
          <button>Move to backlog</button>
        </li>
      </ul>
    </span>
  </article>
</article>
