<!-- -->
<form (ngSubmit)="register()">
  <span id="logo">
    <img src="../../assets/Umsizi-logo.png" alt="Umsizi logo" />
  </span>
  <br />
  <h2>REGISTER</h2>
  <h5 id="response"></h5>
  <input
    type="text"
    name="name"
    [(ngModel)]="name"
    placeholder="Full Name"
    required
  />
  <input
    type="email"
    name="email"
    [(ngModel)]="email"
    placeholder="Email"
    required
  />

  <button type="submit">Register</button>
  <button type="button" (click)="login()">Already Registered? Login</button>
</form>
